* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

        font-family: 'Space Grotesk', sans-serif;
}

.caixa {
    height: 100vh;

    background-image:
    linear-gradient(
    rgba(10,10,10,0.7),
    rgba(10,10,10,0.7)
    ),
    url("https://plus.unsplash.com/premium_photo-1675518474491-a8264226b389?q=80&w=1141&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 20px 40px;
    background-color: transparent;
}

.navbar-brand {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-link {
    color: white;
    margin-left: 15px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #ffb6c1;
}

.tituloPrinc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


.titulo-portifolio{

    font-size: 80px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}


.subtitulo{

    font-size: 1.2rem;
    color: #f1f1f1;
    margin-bottom: 30px;
}

form.d-flex {
    background-color: rgba(255,255,255,0.15);
    padding: 6px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
}


.form-control {
    border: none;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px 20px;
}


.form-control:focus {
    box-shadow: none;
    background-color: white;
}

.btn-rosa-medio {
    background: linear-gradient(45deg, #ff4d88, #ff7aa8);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-rosa-medio:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #ff2f73, #ff5f96);
}



.btn-branco{

    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.btn-branco:hover{

    background-color: white;
    color: #ff4d88;
}

.sobre-mim{

    min-height: 100vh;

    background-color: #111;

    color: white;

    padding: 80px;
  
}


@media (max-width: 768px) {

    .botoes{
        flex-direction: column;
    }
    .titulo-portifolio {
        font-size: 3rem;
    }
    .subtitulo {
        font-size: 1rem;
    }
    .navbar {
        padding: 15px;
    }
}